<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Storage-Cloud" version="18.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net45" />
  <package id="NMock3" version="3.5.44" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net45" developmentDependency="true" />
</packages>